h1 {
    color: #2299aa !important;
}
.navigation {
    width: 100%;
    position: relative;
    min-height: 60px;
    z-index: 1000;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

.navbar-brand {
    color: #2299aa !important;
    font-size: 2rem;
}

.nav-link, .navbar-nav, .navbar-expand-lg {
    color: #333333;
    font-weight: 600;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}

/* button */

.btn {
background-color: #2299aa !important;
border-radius: 2rem !important;
padding-left: 2rem !important;
padding-right: 2rem !important;
color: #fff !important;
}

/* banner */

.banner {
    background-color: #eae7dc;
}